// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// Variables
$orange: #E64A19;
$deep-orange: #D84315;
$blue-grey-dark: #263238;
$blue-grey-light: #546E7A;

// Base
body, input, button {
  font-family: 'Varela Round', sans-serif;
}

body {
  color: white;
  background-color: $blue-grey-dark;
  margin: 0;
}

h1 {
  text-align: center;
  margin: 20px;

  a {
    color: inherit;
    text-decoration: none;
  }
}

// Normalize button styles
.btn {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, 
              transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;

  &:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
  }

  &:active {
    transform: scale(0.99);
  }
}

// Custom button styling
.btn {
  cursor: pointer;
  color: white;
  background: $orange;
  transition: 0.2s ease-in-out;
  
  &:hover {
    background: $deep-orange;
  }

  @media only screen and (max-width: 576px) {
    margin-top: 10px;
  }
}

// Flash messages
.flash {
  text-align: center;
  color: white;
  padding: 25px;
}

.notice {
  background: #388E3C;
}

.alert {
  background: #D32F2F;
}

// Sections
.fact, .subscribe {
  max-width: 80vw;

  @media only screen and (min-width: 1200px) {
    width: 55vw;
  }
}

.fact {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: linear-gradient(to left bottom, rgba(100, 115, 201, 0.33), rgba(25, 32, 72, 0.8));
  overflow: auto;
  border-radius: 15px;
  margin: 0 auto;

  img {
    object-fit: cover;
    opacity: 0.4;
    width: 100%;
    height: 50vh;
  }

  p {
    font-size: 1.5em;
    position: absolute;
    padding: 20px;
  } 
}

.subscribe {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background: $blue-grey-light;
  border-radius: 15px;
  padding: 25px;
  margin: 20px auto;

  label {
    font-weight: bold;
  }

  input {
    font-size: 1.2em;
    padding: 15px;
    border-radius: 5px;
    border: none;
    margin-right: 10px;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 1px 3px 0 rgba(0,0,0,.12)!important;
  }
}

.unsubscribe {
  text-align: center;
  width: 100%;
}

footer {
  text-align: center;
  width: 100%;
  padding: 25px 0;

  a {
    color: $orange;
  }
}